<form class="container" action="/admin/add-product" method="POST">
  <div class="m-3 d-flex flex-column">
    <label for="title">Title</label>
    <input type="text" name="title" placeholder="Title" />
  </div>
  <div class="m-3 d-flex flex-column">
    <label for="description">Description</label>
    <input type="text" name="description" placeholder="description" />
  </div>
  <div class="m-3 d-flex flex-column">
    <label for="price">Price</label>
    <input name="price" type="number" placeholder="price" />
  </div>
   <div class="m-3 d-flex flex-column">
    <label for="price">Image Link</label>
    <input name="image" type="text" placeholder="image" />
  </div>
  <div class="m-3 d-flex flex-column">
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
</form>